// Default
* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: var(--bg-color);
  color: var(--body-color);
  transition: color 0.6s, background-color 0.6s;
  font-family: "Merriweather", serif;
  margin: 0;
  padding: 0;
  line-height: 1.75;
}

a:not(.button) {
  color: var(--link-color);
  transition: opacity 0.2s;
  text-decoration: none;

  &:hover {
    opacity: 0.8;
  }
}

a {
  color: var(--link-color);
  transition: opacity 0.2s;
  text-decoration: none;

  &:hover {
    opacity: 0.8;
  }
}

img {
  max-width: 100%;
}

nav {
  margin-top: 1rem;

  a {
    font-size: 1.25em;
    margin-right: 8px;

    &:hover {
      background: var(--title-color);
      color: var(--bg-color);
      border-radius: 5px;
    }
  }

  .active--exact,
  .active {
    background: var(--title-color);
    color: var(--bg-color);
    border-radius: 5px;
  }
}
